body { background-color: #FFFFFF; color: #000099; font-family: Arial, Helvetica, sans-serif; }

h1 { font-family: "Times New Roman"; color #FF0000; }

a { background-color: #CCCCCC; text-decoration: none; }