body { background-color: #FFFF99; color: #117700; font-family: "Times New Roman", sans-serif }

a { background-color: #CCCCCC }

h1 {background-color: #FFFFFF; color: 00ee22; font-family: Arial; }